<ion-view view-title="DOCTOR IN">   
 <ion-content >       
        <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide style="background: #ffffff center; background-size: cover; color:#FFF;">
            <h1 style="color:#8d8d8d"></h3>
            <div id="logo">
           <center>   <img src="img/search.png"></center>
            </div>

         <center>   <h2 style="color:#8d8d8d">Find Doctors</h2> </center> 
          </ion-slide>
          <ion-slide style="background: #ffffff center; background-size: cover; color:#FFF;">
            <h3 style="color:#8d8d8d"></h3>
            
            <div id="logo">
            <center>    <img src="img/appointment.png"> </center> 
            </div>
           <center>   <h2 style="color:#8d8d8d">Get Appointment</h2> </center> 

          </ion-slide>
          <ion-slide style="background: #FFFFFF center; background-size: cover; color:#FFF;">
          <h3 style="color:#8d8d8d"></h3> 
            <h3 style="color:#8d8d8d"></h3>
            
            <div id="logo">
           <center>     <img src="img/relief.png"> </center> 
            </div>
          <center>    <h2 style="color:#8d8d8d">Get Relief</h2> </center> 

           
          </ion-slide>
        </ion-slide-box>

    </ion-content>
         <div class="button-bar" style="position: absolute; bottom: 0px; width: 100%">
            <!--<button ui-sref="login" class="button button-positive button-block ">Login</button>-->
            <button ui-sref="signup" class="button button-full w3-teal">Signup</button>
        </div>
    
</ion-view>
